a[b-zils42s6wv] {
    font-size: larger;
    text-decoration: none;
}

#logo[b-zils42s6wv] {
    height:10vh;
    width:auto;
}

p[b-zils42s6wv] {
    font-size: x-large;
}

center[b-zils42s6wv] {
    background: whitesmoke;
    border-radius: 15% 15%;
    border-color: black;
    border-style: groove;
}

div[b-zils42s6wv] { 
    text-align: center;
    position: fixed;
    bottom: 0%;
    left: 40vw;
}