p[b-oa2msp5bam] {
    font-family:'Segoe Print';
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 25vh;
    font-size: xxx-large;
    font-weight: 800;
}

div[b-oa2msp5bam] {
    display: block;
}

button[b-oa2msp5bam] {
    border-radius: 12%;
    height: 5vh;
    width: 15vw;
    margin-right: 1vw;
    font-size: small;
    font-family: monospace;
    font-size: large;
    background-color: transparent;
}

button:hover[b-oa2msp5bam] {
    transition-delay: .05s;
    transition-duration: .1s;
    transition-timing-function: ease-out;
    background-color: slategray;
    cursor: pointer;
}

a:hover[b-oa2msp5bam] {
    background-color: Highlight;
    border-radius: 10%;
    padding-bottom: 10%;
    transition-duration: .1s;
    transition-timing-function: step-end;
}

img[b-oa2msp5bam] {
    max-width: 6vw;
    max-height: auto;
}

#right[b-oa2msp5bam] {
    position: absolute;
    top: 35vh;
    right: 1vw;
    display: grid;
}

#right button[b-oa2msp5bam] {
    transition: 0s 0s;
}