div[b-pmvve5ngnc]{
    margin-top:10%;
}

form[b-pmvve5ngnc] {
    text-align: center;
    display: grid;
    gap: 4px;
    width: 20%;
    margin-left: 40%;
}

#Welcome[b-pmvve5ngnc] {
    text-align: center;
}

button[b-pmvve5ngnc] {
    color: black;
    margin-top: 2%;
    background-color: cadetblue;
    border-radius: 15%;
}

button:hover[b-pmvve5ngnc] {
        background-color: lightgrey;
        border-radius: 10%;
        transition-duration: 0s;
        border-color:black;
        border:groove;
    }

input[b-pmvve5ngnc] {
    border-radius: 10%;
}
