a[b-ig3qn3j7yw] {
    text-decoration: none;
    color: black;
}

form[b-ig3qn3j7yw] {
    display: grid;
    max-width: 50vw;
    gap: 2vh;
}

h1[b-ig3qn3j7yw], h2[b-ig3qn3j7yw] {
    font-family: 'Segoe Print';
}