div[b-ig3qn3j7yw] {
    display: grid;
    max-width: 50vw;
    gap: 2vh;
}

h1[b-ig3qn3j7yw], h2[b-ig3qn3j7yw] {
    font-family: 'Segoe Print';
}

button[b-ig3qn3j7yw] {
    color: black;
    margin-top: 2%;
    background-color: whitesmoke;
    margin-bottom: 1%;
    max-width: 90%;
    margin-left: 5%;
}

    button:hover[b-ig3qn3j7yw] {
        background-color: Highlight;
        border-radius: 0% 0% 15% 15%;
        transition-delay: .05s;
        transition-duration: .1s;
        transition-timing-function: ease-in;
        border-color: black;
        border: groove;
    }    