#div[b-1zctryh1v8] {
    background-color: black;
    border-radius: 15% 15%;
    border-color: whitesmoke;
    border-style: groove;
    display: grid;
    max-width: 70vw;
    max-height: 60vh;
}

img[b-1zctryh1v8] {
    max-width: auto;
    max-height: 40vh;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 1%;
}

p[b-1zctryh1v8] {
    text-align: left;
    margin-top: 5%;
    margin-left: 3%;
    color: white;
}

#btn[b-1zctryh1v8] {
    color: black;
    margin-top: 2%;
    background-color: whitesmoke;
    border-radius: 0% 0% 70% 70%;
    margin-bottom: 1%;
    max-width: 90%;
    margin-left: 5%;
}

#btn:hover[b-1zctryh1v8] {
        background-color: Highlight;
        border-radius: 0% 0% 30% 30%;
        transition-delay: .1s;
        transition-duration: .1s;
        transition-timing-function: ease-in;
        border-color: black;
        border: groove;
}    