a {
    font-size: larger;
    text-decoration: none;
}

#logo {
    height:10vh;
    width:auto;
}

p {
    font-size: x-large;
}

center {
    background: whitesmoke;
    border-radius: 15% 15%;
    border-color: black;
    border-style: groove;
}

div { 
    text-align: center;
    position: fixed;
    bottom: 0%;
    left: 40vw;
}