@page "/about"

<PageTitle>About me</PageTitle>

<center>
    <h1>All Art</h1>
    <br>
    <p>Albena Ilieva</p>
    <p>Address: София, бул. Македония 12 <br> E-mail: all_art@abv.bg <br> Phone: 088 990 99 15</p>
</center>

<div>    
    <img src="/img/flower.png"/>
</div>

@code {

}