@page "/home"
@inject NavigationManager NavManager

<PageTitle>Homepage</PageTitle>
<div id="img"></div>
<p>
        Welcome to the website<br>
        of the All-Art shop<br>
        <div>
            <button @onclick=NavigateToProducts>Products</button>
            <button @onclick=NavigateToAbout>About me</button>
        </div>

        <div id=right>
            <a href="https://www.facebook.com/art.felt.fashion"><img src="img/fb.png"/></a>
            <a href="https://www.instagram.com/art.felt.fashion"><img src="img/instagram.png"/></a>
        </div>
</p>

@code {
    private void NavigateToProducts()
    {
        NavManager.NavigateTo("products");
    }

    private void NavigateToAbout()
    {
        NavManager.NavigateTo("about");
    }
}