p {
    font-family:'Segoe Print';
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 25vh;
    font-size: xxx-large;
    font-weight: 800;
}

div {
    display: block;
}

button {
    border-radius:12%;
    height: 5vh;
    width: 15vw;
    margin-right: 1vw;
    font-size: small;
    font-family: monospace;
    font-size:large;
    background-color:transparent;
}

button:hover {
    transition-delay: .05s;
    transition-duration: .1s;
    transition-timing-function: ease-in;
    background-color: slategray;
    cursor: pointer;
}

a:hover {
    background-color: Highlight;
    border-radius: 10%;
    padding-bottom: 10%;
    transition-duration: .1s;
    transition-timing-function: step-end;
}

img {
    max-width: 6vw;
    max-height: auto;
}

#right {
    position: absolute;
    top: 35vh;
    right: 1vw;
    display: grid;
}

#right button {
    transition: 0s 0s;
}