@page "/home"
@inject NavigationManager NavManager

<PageTitle>Homepage</PageTitle>
<h1>Homepage</h1>

<center>
    <p>
        Welcome to the All Art website!<br>
        Welcome to the All Art website!<br>
        Welcome to the All Art website!<br>
        Welcome to the All Art website!<br>
    </p>
</center>