div{
    margin-top:10%;
}

form {
    text-align: center;
    display: grid;
    gap: 4px;
    width: 20%;
    margin-left: 40%;
}

#Welcome {
    text-align: center;
}

button {
    color: black;
    margin-top: 2%;
    background-color: cadetblue;
    border-radius: 15%;
}

button:hover {
        background-color: lightgrey;
        border-radius: 10%;
        transition-duration: 0s;
        border-color:black;
        border:groove;
    }

input {
    border-radius: 10%;
}
