@inject NavigationManager navManager

@if(Right)
{
    <div id="div">
        <p>@Desc <img id="image" crossorigin="anonymous" src=@imageSource style="float:right;margin:0%"/></p>       
        <button id="btn" @onclick=@(() => navManager.NavigateTo($"/order/1"))>Order</button> 
    </div>

    <style>

        p{
            float:right;
            margin:0%;
            margin-right: 2%;
        }
    </style>
}
else {
    <div id="div">
        <p id="p"><img id="image" crossorigin="anonymous" src=@imageSource/> @Desc</p>
        <button id="btn" @onclick=@(() => navManager.NavigateTo($"/order/1"))>Order</button> 
    </div>
    
    <style>
        #p {text-align:right; margin-right:2%;}
        img{float:left; margin:0%;}
    </style>
}

@code {
    private string imageSource =  "";
    private const string proxy = "https://api.codetabs.com/v1/proxy/?quest=";

    [Parameter]
    public string ImageSource { get => imageSource; set => imageSource = value.Insert(0, proxy); }
    [Parameter]
    public string Desc { get; set; } = "";
    [Parameter]
    public bool Right { get; set; } = (new System.Random().Next(0, 2)==1?true:false);
    [Parameter]
    public int ID { get; set; } = -1;
}