@page "/products"

<PageTitle>Products</PageTitle>

<center>
    <h1>Products</h1>
    <Product Desc="This is the description of the shop item" ImageSource="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/289915088_364018738979209_7815031005126789846_n.webp?stp=dst-jpg_e35_p1080x1080&_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=101&_nc_ohc=n35as_eDiloAX8UcJDp&tn=2P54X_n45tWw65Bb&edm=ALQROFkBAAAA&ccb=7-5&ig_cache_key=Mjg2NTUwNTY2ODk4MzQ0NjUzNg%3D%3D.2-ccb7-5&oh=00_AT-S_X54mIQOolm9ynNh4ZU_TGbbi0mva186Ss3kx6q9zA&oe=62E0E7E3&_nc_sid=30a2ef"/>
    <Product Desc="This is the description of the shop item" ImageSource="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/289915088_364018738979209_7815031005126789846_n.webp?stp=dst-jpg_e35_p1080x1080&_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=101&_nc_ohc=n35as_eDiloAX8UcJDp&tn=2P54X_n45tWw65Bb&edm=ALQROFkBAAAA&ccb=7-5&ig_cache_key=Mjg2NTUwNTY2ODk4MzQ0NjUzNg%3D%3D.2-ccb7-5&oh=00_AT-S_X54mIQOolm9ynNh4ZU_TGbbi0mva186Ss3kx6q9zA&oe=62E0E7E3&_nc_sid=30a2ef"/>
    <Product Desc="This is the description of the shop item" ImageSource="https://scontent-sof1-1.cdninstagram.com/v/t51.2885-15/289915088_364018738979209_7815031005126789846_n.webp?stp=dst-jpg_e35_p1080x1080&_nc_ht=scontent-sof1-1.cdninstagram.com&_nc_cat=101&_nc_ohc=n35as_eDiloAX8UcJDp&tn=2P54X_n45tWw65Bb&edm=ALQROFkBAAAA&ccb=7-5&ig_cache_key=Mjg2NTUwNTY2ODk4MzQ0NjUzNg%3D%3D.2-ccb7-5&oh=00_AT-S_X54mIQOolm9ynNh4ZU_TGbbi0mva186Ss3kx6q9zA&oe=62E0E7E3&_nc_sid=30a2ef"/>
</center>