@inherits LayoutComponentBase

<PageTitle>All-Art</PageTitle>

<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code{
    private bool visible = true;

    private void ToggleSideBar()
    {
        visible = !visible;   
    }
}