@inherits LayoutComponentBase
@inject NavigationManager navManager

<PageTitle>All-Art</PageTitle>

<div class="page">

    <main>
        <article class="content px-4">
            @if(navManager.Uri.Remove(0, navManager.Uri.LastIndexOf('/')+1)!="home")
            {
                <button id="nav">
                    <NavLink class="nav-link" href="home">
                        <span class="oi oi-arrow-left" aria-hidden="true"></span>
                    </NavLink>
                </button>                
                    
            }
            @Body
        </article>
    </main>
</div>

<style>
    body {
        background-image: url("/img/image.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #nav {
        border-radius: 10%;
        padding: 0%;
        width: 3vw;
        height: 2vw;
        background-color: transparent;
    }

    #nav span {
        color: black;
    }

    #nav .nav-link {
        padding:0%;
    }

    #nav:hover {
        cursor:pointer;
        transition-duration: .1s;
        background-color: Highlight;
    }
</style>

@code{
    private bool visible = true;

    private void ToggleSideBar()
    {
        visible = !visible;   
    }
}